
// https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap
.ff-outfit {
    font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

// https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap
.ff-rubik {
    font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

// https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap
.ff-nunito {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
