.page-home {
    padding-top: 30px;
    min-height: 100vh;
    position: relative;

    .container {
        min-height: 100%;
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        color: var(--base-color-5);
        gap: 10px;

        @media (min-width: 768px) {
            margin-bottom: 30px;
        }

        &-date {
            margin-right: auto;
            font-weight: 600;

            @media (min-width: 992px) {
                margin-left: auto;
                margin-right: auto;
            }
        }

        a {
            @media (min-width: 992px) {
                order: -1;
            }
        }
    }
}